In [30]:
# write a program to print all odd numbers in a list.

dh = int(input("Enter how Many Numbers You Want to Insert in a list: "))
lst = list(range(1,dh+1,1))
for d in lst:
  user = int(input("Enter a list of numbers: "))

for odd in lst:
  if odd % 2 != 0:
       print(odd," ")

Enter how Many Numbers You Want to Insert in a list: 10
Enter a list of numbers: 1
Enter a list of numbers: 2
Enter a list of numbers: 3
Enter a list of numbers: 4
Enter a list of numbers: 5
Enter a list of numbers: 6
Enter a list of numbers: 7
Enter a list of numbers: 8
Enter a list of numbers: 9
Enter a list of numbers: 10
1
3
5
7
9

In [28]:
#python program to find sum of list elements
dh = int(input("Enter how Many Numbers You Want to Insert in a list: "))
lst = list(range(1,dh+1,1))
sum = 0
for d in lst:
  user = int(input("Enter a list of numbers: "))

for element in lst:
  sum += element
print("Sum of all elements: ",sum)

Enter how Many Numbers You Want to Insert in a list: 4
Enter a list of numbers: 1
Enter a list of numbers: 2
Enter a list of numbers: 3
Enter a list of numbers: 4
Sum of all elements:  10

In [33]:
# Program to reverse a list in two ways
dh = int(input("Enter how Many Numbers You Want to Insert in a list: "))
lst = list(range(1,dh+1,1))
for d in lst:
  user = int(input("Enter a list of numbers: "))
print(lst)
lst.reverse()
print(lst)
print(lst[::-1])

Enter how Many Numbers You Want to Insert in a list: 5
Enter a list of numbers: 1
Enter a list of numbers: 2
Enter a list of numbers: 3
Enter a list of numbers: 4
Enter a list of numbers: 5
[1, 2, 3, 4, 5]
[5, 4, 3, 2, 1]
[1, 2, 3, 4, 5]

In [69]:
# First Two Max Num
inp = input("Enter the elements of list: ")
user_list = inp.split()
print(user_list)
for dh in range(len(user_list)):
  user_list[dh] = int(user_list[dh])

user_list.sort()
one = user_list[-1]
two = user_list[-2]
print("First Max",one)
print("Second Max",two)

Enter the elements of list: 7 4 6 21 2 3
['7', '4', '6', '21', '2', '3']
21
7

In [71]:
# second highest num in list
inp = input("Enter the elements of list: ")
user_list = inp.split()
print(user_list)
for dh in range(len(user_list)):
  user_list[dh] = int(user_list[dh])

user_list.sort()
print(user_list)
print("Second Highest Number is: ",user_list[-2])

Enter the elements of list: 6 7 4 21 8 17
['6', '7', '4', '21', '8', '17']
[4, 6, 7, 8, 17, 21]
Second Highest Number is:  17

In [72]:
# reverse characters in decending order
use = input("Enter any string: ")
print(use[::-1])

Enter any stringHannan
nannaH

In [84]:
# reverse characters in decending order
use = input("Enter any string: ")
dh = ""
for duplicate in use:
    if duplicate not in dh:
        dh+=duplicate
print(dh)
d=list(use)

Enter any string: Hannan
Han

In [79]:
# check char is vowel or consonant
vowel = input("Enter any character: ")

if(vowel == 'a' or vowel == 'e' or vowel == 'i' or vowel == 'o' or vowel == 'u' ):
  print(vowel," is Vowel.")
else:
  print(vowel," is Consonant.")

Enter any character: h
h  is Consonant.

In [80]:
# calculate the factorial of number
fac = int(input("Enter any num to calculate it's factorial"))
factorial = 1
for i in range(1,fac + 1):
  factorial = factorial*i
print("The Factorial of ",fac," is ",factorial)

Enter any num to calculate it's factorial5
The Factorial of  5  is  120

In [83]:
# Merging two list
inp1 = input("Enter the elements of list: ")
inp2 = input("Enter the elements of list: ")

user_list1 = inp1.split()
user_list2 = inp2.split()
print(user_list1)
print(user_list2)
final_List = user_list1 + user_list2
print(final_List)

Enter the elements of list: Hannan Darakhshan
Enter the elements of list: Miraal Faham
['Hannan', 'Darakhshan']
['Miraal', 'Faham']
['Hannan', 'Darakhshan', 'Miraal', 'Faham']